footer {
    font-family: 'Glory', sans-serif;
    padding : 0 5%;
    background-color: black;
    min-height: 300px;
    margin-top: 10px;
    color: white;
    text-align: center;
    padding-top: 5%;
    a {
        color : white;
        text-decoration: underline;
    }
    a:hover {
        color : white;
    }
    div[class="social-media"] {
        a {
            // display: flex;
            justify-content: space-between;
            // border: 1px solid yellow;
            width : 30%;
            padding-right: 30px;
            margin: auto;
        }
        
        a i{
            font-size: 1.99em;
        }
        .facebook {
            color: #4267B2;
        }
        .twitter {
            color: skyblue;
        }
        .youtube {
            color: red;
        }
        .instagram {
            color: #DD2A7B;
        }
    }
    div[class="join-association"] {
        font-size: 0.86em;
        // border: 1px solid yellow;
        width: 90%;
        margin: auto;
        color: rgb(236, 120, 236);
    }
}


// ----------------------TABLET screen adjustments -------------------------------
@media screen and (min-width: 760px) {
    div[class="join-association"] {     
        width: 60%;
    }
}

  // ----------------------LAPTOP screen adjustments -------------------------------
@media screen and (min-width: 1023px) {
    
  }

  // ----------------------XXL LAPTOP screen adjustments -------------------------------

  @media screen and (min-width: 1423px) {
    div[class="realisation-content"] {
        iframe[class="wad-youtube"] {
            height: 600px;
        }
    }
  }