@import url('https://fonts.googleapis.com/css2?family=Glory:wght@100&family=Great+Vibes&family=Pacifico&family=Poiret+One&family=ZCOOL+KuaiLe&display=swap');

$links: #099;
$link2: rgb(204, 51, 204);
.pink {border : 1px solid $link2}
.cyan {border : 1px solid cyan}
.orange {border : 1px solid orange}
.blue {border : 1px solid $links}
.green {border : 1px solid greenyellow }
.brown {border : 1px solid brown }
.orange-text {color: brown;}
h1,h2,h3,h4 {
    font-family: 'Pacifico', cursive;
}

//------------------- header --------------------
section[id="banner"] {
    @import 'navbar';
}


// ------------- Content ----------
section[id="content"] {
    @import 'acceuil';
    @import 'apropos';
    @import 'realisations';
    @import 'activites';
   
    
    font-family: 'Glory', sans-serif;
    font-size: 1.2em
    //font-family: 'Pacifico', cursive;
    //font-family: 'Great Vibes', cursive;
    
}

@import 'footer';
