@charset "UTF-8";
.pink {
  border: 1px solid #cc33cc;
}

.cyan {
  border: 1px solid cyan;
}

.orange {
  border: 1px solid orange;
}

.blue {
  border: 1px solid #099;
}

.green {
  border: 1px solid greenyellow;
}

.brown {
  border: 1px solid brown;
}

.orange-text {
  color: brown;
  font-weight: bolder;
}

section[id=banner] .logo {
  height: 100%;
  width: 170px;
}
section[id=banner] #navbarSupportedContent {
  padding-left: 12%;
}
section[id=banner] .navbar {
  background-color: white !important;
}
section[id=banner] .navbar .nav-link {
  color: #099;
}
section[id=banner] .navbar .active {
  color: #099 !important;
  font-weight: 800;
}
section[id=banner] .navbar .link2 {
  color: #cc33cc !important;
}
section[id=banner] .navbar .nav-link:hover {
  color: #cc33cc;
}
section[id=banner] .navbar .nav-item .dropdown-item {
  color: #099;
}
section[id=banner] .navbar .nav-item .dropdown-item:hover {
  color: #cc33cc;
}
@media screen and (min-width: 1423px) {
  section[id=banner] #navbarSupportedContent {
    padding-left: 18%;
    font-size: 1.4em;
  }
}
@media screen and (min-width: 2559px) {
  section[id=banner] #navbarSupportedContent {
    padding-left: 28%;
    font-size: 1.8em;
  }
}

section[id=content] {
  @import url("https://fonts.googleapis.com/css2?family=Calligraffitti&display=swap");
}
section[id=content] div[id=hero] {
  background: black;
}
section[id=content] div[id=hero] video {
  opacity: 0.3;
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: 100%;
}
section[id=content] div[id=hero]:after {
  content: "We Arts Dance Vive l’Art, Vive la Danse Discipline – solidarité - Progrès";
  font-size: 1em;
  color: #c5c2c2;
  text-align: center;
  position: absolute;
  left: 1%;
  right: 1%;
  top: 45%;
}
@media screen and (min-width: 375px) {
  section[id=content] div[id=hero]:after {
    left: 5%;
    right: 5%;
  }
}
@media screen and (min-width: 425px) {
  section[id=content] div[id=hero]:after {
    left: 9%;
    right: 9%;
  }
}
@media screen and (min-width: 760px) {
  section[id=content] div[id=hero]:after {
    font-size: 1.8em;
    left: 15%;
    right: 15%;
    top: 65%;
  }
}
@media screen and (min-width: 1024px) {
  section[id=content] div[id=hero]:after {
    font-size: 1em;
    left: 15%;
    right: 15%;
    top: 55%;
  }
}
@media screen and (min-width: 1023px) {
  section[id=content] div[id=hero]:after {
    font-size: 3.2em;
    left: 15%;
    right: 15%;
    top: 85%;
  }
}
section[id=content] div[id=carouselExampleCaptions] .carousel-inner img {
  height: 250px;
  width: 100%;
}
section[id=content] div[id=quelque-mot] {
  padding-top: 2%;
}
section[id=content] div[id=quelque-mot] div[class=quelqmot-h] {
  text-align: center;
}
section[id=content] div[id=quelque-mot] div[class=quelqmot-grid] .container .p-3 {
  min-height: 110px;
  border-radius: 5px;
  text-align: center;
}
section[id=content] div[class=gros-button] {
  margin: 5% auto;
  text-align: center;
}
section[id=content] div[class=gros-button] button {
  padding: 0 8%;
}
section[id=content] div[class=gros-button] button a {
  color: white;
  font-weight: bold;
  font-size: 1.3em;
  text-decoration: none;
}
section[id=content] div[class=apropos-grid] {
  margin: 4% 0 0 0;
}
section[id=content] div[class=apropos-grid] .row {
  margin: 4% 0;
}
section[id=content] div[class=apropos-grid] .g-h {
  font-weight: bold;
  text-align: center;
  padding: 4% 0;
  color: #e6722f;
}
section[id=content] div[id=team-photo] {
  padding-top: 2%;
  opacity: 0.9;
}
section[id=content] div[id=team-photo] div[class=grid] {
  background-image: url("../images/graffiti2.png");
}
section[id=content] div[id=team-photo] div[class=grid] .container .p-3 {
  min-height: 110px;
  border-radius: 5px;
  text-align: center;
}
section[id=content] div[id=team-photo] div[class=grid] .container h2 {
  color: orange;
}
section[id=content] div[id=team-photo] div[class=grid] .container .card {
  width: 100%;
}
section[id=content] div[id=team-photo] div[class=grid] .container .card img {
  margin: auto;
  border-radius: 12px;
  height: 180px;
  width: 62%;
}
section[id=content] div[id=team-photo] div[class=grid] .container .card .fabiola-text {
  font-size: 0.73em;
}
section[id=content] div[id=team-photo] div[class=grid] .container .card .fabiola-pic {
  height: 167px;
  width: 62%;
}
section[id=content] div[id=team-photo] div[class=grid] .container .card .micheal-title {
  font-size: 1.15em;
}
@media screen and (min-width: 760px) {
  section[id=content] div[class=apropos-grid] .g-h {
    font-weight: bold;
    text-align: center;
    padding-top: 9%;
  }
  section[id=content] div[id=team-photo] div[class=grid] .container .card img {
    height: 140px;
    width: 80%;
  }
  section[id=content] div[id=team-photo] div[class=grid] .container .card .fabiola-text {
    font-size: 0.73em;
  }
  section[id=content] div[id=team-photo] div[class=grid] .container .card .fabiola-pic {
    height: 97px;
    width: 62%;
  }
  section[id=content] div[id=team-photo] div[class=grid] .container .card .olivier-title {
    font-size: 1.015em;
  }
  section[id=content] div[id=team-photo] div[class=grid] .container .card .olivier-text {
    font-size: 0.69em;
  }
  section[id=content] div[id=team-photo] div[class=grid] .container .card .micheal-title {
    font-size: 1.29em;
  }
  section[id=content] div[id=team-photo] div[class=grid] .container .card .micheal-text {
    font-size: 0.799em;
  }
  section[id=content] div[id=team-photo] div[class=grid] .container .card .sean-title {
    margin-bottom: 20%;
  }
}
@media screen and (min-width: 1023px) {
  section[id=content] div[class=apropos-grid] .g-h {
    font-weight: bold;
    text-align: center;
    padding-top: 5%;
  }
  section[id=content] div[id=team-photo] div[class=grid] .container .card img {
    height: 190px;
    width: 70%;
  }
  section[id=content] div[id=team-photo] div[class=grid] .container .card .fabiola-text {
    font-size: 0.73em;
  }
  section[id=content] div[id=team-photo] div[class=grid] .container .card .fabiola-pic {
    height: 167px;
    width: 70%;
  }
  section[id=content] div[id=team-photo] div[class=grid] .container .card .olivier-title {
    font-size: 1.115em;
  }
  section[id=content] div[id=team-photo] div[class=grid] .container .card .olivier-text {
    font-size: 0.69em;
  }
  section[id=content] div[id=team-photo] div[class=grid] .container .card .micheal-title {
    font-size: 1.19em;
  }
  section[id=content] div[id=team-photo] div[class=grid] .container .card .micheal-text {
    font-size: 0.799em;
  }
  section[id=content] div[id=team-photo] div[class=grid] .container .card .sean-title {
    margin-bottom: 3.3%;
  }
}
@media screen and (min-width: 1423px) {
  section[id=content] div[class=apropos-grid] .g-h {
    font-weight: bold;
    text-align: center;
    padding-top: 3%;
  }
  section[id=content] div[id=team-photo] div[class=grid] .container .card img {
    height: 230px;
    width: 70%;
  }
  section[id=content] div[id=team-photo] div[class=grid] .container .card .fabiola-text {
    font-size: 0.73em;
  }
  section[id=content] div[id=team-photo] div[class=grid] .container .card .fabiola-pic {
    height: 217px;
    width: 70%;
  }
  section[id=content] div[id=team-photo] div[class=grid] .container .card .olivier-title {
    font-size: 1.115em;
  }
  section[id=content] div[id=team-photo] div[class=grid] .container .card .olivier-text {
    font-size: 1.099em;
  }
  section[id=content] div[id=team-photo] div[class=grid] .container .card .micheal-title {
    font-size: 1.19em;
  }
  section[id=content] div[id=team-photo] div[class=grid] .container .card .micheal-text {
    font-size: 1.09em;
  }
  section[id=content] div[id=team-photo] div[class=grid] .container .card .sean-title {
    margin-bottom: 3.3%;
  }
  section[id=content] div[id=team-photo] div[class=grid] .container .card .eben-text {
    font-size: 1.02em;
  }
}
section[id=content] div[class=realisation-content] iframe[class=wad-youtube] {
  width: 100%;
  height: 320px;
  margin: auto;
  margin-top: 5%;
}
section[id=content] div[class=realisation-content] h2 {
  text-align: center;
  margin-top: 4%;
}
section[id=content] div[class=realisation-content] .picture-grid img {
  border: 1px solid #adacac;
}
@media screen and (min-width: 760px) {
  section[id=content] div[class=realisation-content] iframe[class=wad-youtube] {
    height: 500px;
  }
}
@media screen and (min-width: 1423px) {
  section[id=content] div[class=realisation-content] iframe[class=wad-youtube] {
    height: 600px;
  }
}
section[id=content] div[id=activites] h1 {
  font-family: "Calligraffitti", cursive;
}
section[id=content] div[id=activites] .orange2 {
  color: orange;
}
section[id=content] div[id=activites] .pink2 {
  color: #d154d1;
}
section[id=content] div[id=activites] .cyan2 {
  color: cyan;
}

footer {
  background-color: black;
  min-height: 300px;
  margin-top: 10px;
  color: white;
  text-align: center;
  padding-top: 5%;
}
footer a {
  color: white;
  text-decoration: underline;
}
footer a:hover {
  color: white;
}
footer div[class=social-media] a {
  justify-content: space-between;
  width: 30%;
  padding-right: 30px;
  margin: auto;
}
footer div[class=social-media] a i {
  font-size: 1.99em;
}
footer div[class=social-media] .facebook {
  color: #4267B2;
}
footer div[class=social-media] .twitter {
  color: skyblue;
}
footer div[class=social-media] .youtube {
  color: red;
}
footer div[class=social-media] .instagram {
  color: #DD2A7B;
}
footer div[class=join-association] {
  font-size: 0.8em;
  width: 60%;
  margin: auto;
  color: #dd53dd;
}

/*# sourceMappingURL=main.css.map */
